* {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.loginForm {
    form {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}