<h2>Login</h2>
<div class="loginForm">
    <form action="">
        <label>Email</label><input type="email" name="loginEmail">
        <label>Password</label><input type="password" name="loginPass">
    </form>
    <button>Login</button>
</div>

<h2>SignUp</h2>
<div class="loginForm">
    <form action="">
        <label>Email</label><input>
        <label>Password</label><input>
        <h4>Name</h4>
        <label>First Name</label><input>
        <label>Middle Name</label><input>
        <label>Last Name</label><input>
        <h4>Address</h4>
        <label>Street Name</label><input>
        <label>Number</label><input>
        <label>Floor</label><input>
        <label>Zipcode</label><input>
        <label>Country</label><input>
    </form>
    <button>SignUp</button>
</div>