<nav>
    <div>
      <div>
        <a routerLink="/">Home</a>
        <a routerLink="Product" routerLinkActive="active-link">Produkter</a>
        <a routerLink="Category" routerLinkActive="active-link">Kategorier</a>
        <a routerLink="Search" routerLinkActive="active-link">Søg</a>
        <a routerLink="Login" routerLinkActive="active-link">Login</a>
        <a routerLink="Cart" routerLinkActive="active-link">Kurv</a>
      </div>
      <!-- <div *ngIf="currentUser != null && currentUser.role == 'Admin'"> -->
      <div>
        <label>Admin controls</label>
        <a routerLink="Admin/Product" routerLinkActive="active-link">Produkter</a>
        <a routerLink="Admin/Category" routerLinkActive="active-link">Kategorier</a>
        <a routerLink="Admin/Search" routerLinkActive="active-link">Søg</a>
        <a routerLink="Admin/Cart" routerLinkActive="active-link">Kurv</a>
      </div>
      <!-- <a style="cursor: pointer" (click)="logout()">Logout</a> -->
    </div>
    <!-- <a routerLink="/login" routerLinkActive="active-link" *ngIf="currentUser == null">Login</a> -->
</nav>

<router-outlet></router-outlet>

