img {
    width: 100%;
    border-radius: 25px 25px 0 0;
    height: 252px;
}

//This may have to change do to more products side by side.
.ProductContainer {
    width: 280px;
    height: 500px;
    margin: 30px auto;
}

.ProductCard {
    border-radius: 25px;
}

.ProductCardHead {
    position: relative;
    height: 252px;
    background: #fa782e; //Only visable if no img is shown
    border-radius: 25px 25px 0 0;
}

.ProductDetail {
    padding: 0 20px;
    font-size: 11px;
    color: #fff;
}

.ProductDetail h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
  
.ProductCardBody {
    height: 255px;
    background: #B0C4DE;
    border-radius: 0 0 25px 25px;
}
  
.ProductTitle {
    padding: 20px 20px 5px 20px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
.ProductTitle {
    b {
        font-weight: 900;
        letter-spacing: 0px; 
    }
}
  
.ProductCaption {
    display: block;
    padding: 0 20px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}
  
.ProductPrice {
    background: #fa782e;
    padding: 7px 20px;
    display: inline-block;
    font-size: 24px;
    border-radius: 7px;
    margin-top: 140px;
    margin-left: 75px;
}
  
.ProductPrice {
    b {
        margin-left: 5px;
    }
}