.wrapper{
    display: flex; 
    justify-content: center;
    margin: 40px 0px;
    justify-content: space-evenly;
}

img{
    display: flex;
    border-radius: 25px;
    height: 300px;
    width: 200px;
}

a {
    text-decoration-line: none;
}

label {
    position: relative;
    top: 160px;
    display: flex;
    color: coral;
    font-size: 25px;
    font-weight: bold;
    justify-content: center;
    background-color: black;
    cursor: pointer;
}