.ItemTitle {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    margin: 30px 0px 0px 0px;
}

.ItemContainer {
    display: flex;
    margin: 0px 0px 0px 60px;
    img {
        width: 50%;
    }
    .ItemDescriptionAndPriceContainer {
        margin: 0 0 0 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}